/* title: Background */
/* author: [ghplr](https://github.com/ghplr) */
/* icon: https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/background.png */
/* description: Alt background theme */
#app div.tile-list-page {
    max-width: none;
    mix-blend-mode: normal !important;
    box-shadow: none !important;
    background: transparent !important;
}
#app div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}
#app div.slide-page-home.wallpaper-behind div.groove-home-tile {
    background: transparent !important;
    --metro-transparent-2: var(--accent-color);

#app #main-home-slider div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}
#app #main-home-slider.app-transition div.slide-page-home.wallpaper-behind {
    opacity: 0;
