/* title: Rounded tiles */
/* author: [gh.plr](https://github.com/ghplr) */
/* icon: https://ghplr.github.io/gh-groove-themes/rounded.png */
/* description: Rounded tiles theme for Groove Launcher */

#app div.groove-app-tile div.groove-app-tile-icon  {
  border-radius: 8px;
}

#app div.groove-home-inner-tile {
  border-radius: 16px;
}

.groove-home-inner-tile, .groove-app-tile-icon{
  overflow:hidden;
}
