/* title: Windows 95 */
/* author: [gh.plr](https://github.com/ghplr) */
/* icon: https://ghplr.github.io/gh-metro-themes/src/95/95.svg */
/* description: Windows 95 Theme */

@font-face {
  font-family: W95;
  src: url(https://ghplr.github.io/gh-metro-themes/src/95/w95fa.woff);
}

#app {
  background: #008080;
}

div.status-bar-mock {
    display: none;
}

#app div.disco-app-tile-icon {
  background: #C0C0C0;
 border-width: 3px;
  border-style: solid;
  border-image: url(https://ghplr.github.io/gh-metro-themes/src/95/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 3px 3px black;
}

#app div.disco-home-inner-tile {
  border-width: 4px;
  border-style: solid;
  border-image: url(https://ghplr.github.io/gh-metro-themes/src/95/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 4px 4px black;
}

#app div.tile-list-page {
    max-width: none;
    mix-blend-mode: normal !important;
    box-shadow: none !important;
    background: transparent !important;
}
#app div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}
#app div.slide-page-home.wallpaper-behind div.disco-home-tile {
    background: transparent !important;
    --metro-transparent-2: var(--accent-color);
}
#app #main-home-slider div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}

#app p.disco-home-tile-title {
  color: black !important;
  text-shadow:
    -1px -1px 0 #C0C0C0, /* Top-left shadow */
     1px -1px 0 #C0C0C0, /* Top-right shadow */
    -1px  1px 0 #C0C0C0, /* Bottom-left shadow */
     1px  1px 0 #C0C0C0; /* Bottom-right shadow */
     
  font-family: W95;
  font-weight: normal;
}

#app #app-page-icon:after { 	 
    content: "All Apps";  
}

#app #app-page-icon {
    font-family: W95;
    box-shadow: 3px 3px black;
    font-size: 25px; 
    color: black;
    padding: 8px 10px;
    border-radius: 0px;
    border-width: 3px; 
    border-style: solid;
    border-image: url(https://ghplr.github.io/gh-metro-themes/src/95/border.png) 1 stretch;
    background: #C0C0C0 !important;
    position: absolute;
    width: max-content;
}

#app #app-page-icon p { 	 
  display: none;
}

#app .disco-element.disco-letter-tile {
display: none;
}

.disco-home-tile {
   background: none !important;
}

#sticky-letter {
  display: none;
}

div.app-page-icon-banner {
  background: none !important   ;
}

#app .inner-page .app-list {
  border-width: 3px;
  border-style: solid;
  border-image: url(https://ghplr.github.io/gh-metro-themes/src/95/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 3px 3px black;
}

 #app .app-list-container {
  padding-left: 10px !important;
}

#app .disco-element.disco-app-tile {
  color: black;
  float: left !important;
}

#app .disco-element.disco-app-tile > p {
  color: black !important;
  font-family: W95 !important;
  font-weight: normal !important;
}

#app #search-icon:after { 	 
    content: "Search";  
}

#app #search-icon {
    font-family: W95;
    box-shadow: 3px 3px black;
    font-size: 25px; 
    color: black;
    padding: 8px 8px;
    border-radius: 0px;
    border-width: 3px; 
    border-style: solid;
    border-image: url(https://ghplr.github.io/gh-metro-themes/src/95/border.png) 1 stretch;
    background: #C0C0C0 !important;
    position: absolute;
    width: max-content;
    bottom: calc(30px + var(--window-inset-bottom));
}

#app #search-icon p { 	 
  display: none;
}
